<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant One Page HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================ -->
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Js -->
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <!--
    header-img start
    ============================== -->
    <section id="hero-area">
        <img class="img-responsive" src="~/images/header.jpg" alt="">
    </section>
    <!--
    Header start
    ============================== -->
    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">
                                        <img src="/images/logo.png" alt="Logo" style="width: 200px;">
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right" id="top-nav">
                                        <li><a href="#hero-area">Home</a></li>
                                        <li><a href="/doctors">Doctors</a></li>
                                        <li><a href="#about-us">about us</a></li>
                                        <li><a href="#subscribe">news</a></li>
                                        <li><a href="#contact-us">contacts</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->
   
   @RenderBody()

    <!--
    footer  start
    ============================= -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="200ms">
                        <h3>CONTACT <span>INFO</span></h3>
                        <div class="info">
                            <ul>
                                <li>
                                    <h4><i class="fa fa-phone"></i>Phone</h4>
                                    <p>(631) 487 6632 - (631) 219 3018</p>

                                </li>
                                <li>
                                    <h4><i class="fa fa-map-marker"></i>Live Chat</h4>
                                    <p>Chat with a member of Our Team now!</p>
                                </li>
                                <li>
                                    <h4><i class="fa fa-envelope"></i>E mail</h4>
                                    <p>docfinder@gmail.com</p>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="700ms">
                        <h3>LATEST <span>TEAM NEWS</span></h3>
                        <div class="blog">
                            <ul>
                                <li>
                                    <h4><a href="#">Nov 9-2014</a></h4>
                                    <p>Dr. Kay joins our team with over 15 years experience in various behavioral health needs! Welcome, Dr. Kay!</p>
                                </li>
                                <li>
                                    <h4><a href="#">Sep 8-2014</a></h4>
                                    <p>Dr. Spock works one-on-one in extensive research study that is providing breakthrough treatment options for GAD.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                        <div class="gallary">
                            <h3>OUR <span>TEAM</span><a href="/doctors"> <span class="glyphicon glyphicon-circle-arrow-right"></span></a></h3>
                            @Html.Action("OurTeam", "Doctors")                            
                     
                        </div>
                        <div class="social-media-link">
                            <h3>Follow <span>US</span></h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
    footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2014 - All Rights Reserved.Design and Developed By <a href="http://www.themefisher.com">Themefisher</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>